table{
    border: 1px solid #000;
    table-layout: auto;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.slash{
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;   
}
.text{
    letter-spacing: 30px;
}
.wednesday{
    width: 110px;
}